*.html linguist-documentation
(^|/)site/) linguist-documentation
src/test/resources/* linguist-vendored
cli/src/test/resources/* linguist-vendored
core/src/test/resources/* linguist-vendored
maven/src/test/resources/* linguist-vendored
ant/src/test/resources/* linguist-vendored
utils/src/test/resources/* linguist-vendored