Usage
==============================
The [OWASP dependency-check-gradle plugin][plugin-site] provides monitoring of the projects dependent
libraries; creating a report of known vulnerable components that are included in the build.

It is important to understand that the first time this task is executed it may
take 5-20 minutes as it downloads and processes the data from the National
Vulnerability Database (NVD) hosted by NIST: https://nvd.nist.gov

After the first batch download, as long as the plugin is executed at least once every
seven days the update will only take a few seconds.

#set( $H = '#' )

$H$H Quick Start

$H$H$H Step 1, Apply dependency-check-gradle plugin
Install from Maven central repo

```groovy
buildscript {
    repositories {
        mavenCentral()
    }
    dependencies {
        classpath 'org.owasp:dependency-check-gradle:${project.version}'
    }
}

apply plugin: 'org.owasp.dependencycheck'
```

$H$H$H Step 2, Run the dependencyCheckAnalyze task

You can run dependency-check by executing:

```bash
./gradlew dependencyCheckAnalyze
```

The reports will be generated automatically under `${buildDir}/reports` folder.

$H$H Task Configuration
The OWASP dependency-check-gradle plugin contains three tasks: [dependencyCheckAnalyze](configuration.html),
[dependencyCheckAggregate](configuration-aggregate.html), [dependencyCheckUpdate](configuration-update.html),
and [dependencyCheckPurge](configuration-purge.html). Please see each tasks configuration page for more information.

More information can be found in the [GitHub repository][github].

License
-------------------

Permission to modify and redistribute is granted under the terms of the Apache 2.0 license. See the [LICENSE.txt][license] file for the full license.

Dependency-Check makes use of several other open source libraries. Please see the [NOTICE.txt][notices] file for more information.

  [license]: https://github.com/dependency-check/dependency-check-gradle/blob/main/LICENSE.txt
  [notices]: https://github.com/dependency-check/dependency-check-gradle/blob/main/NOTICE.txt
  [plugin-site]: https://plugins.gradle.org/plugin/org.owasp.dependencycheck
  [github]: https://github.com/dependency-check/dependency-check-gradle
