<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <contextName>dependency-check</contextName>
    <!-- Logging configuration -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>[%level] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <!--logger name="org.owasp.dependencycheck.data.nvdcve.BaseDBTestCase" additivity="false" level="TRACE">
        <appender-ref ref="console"/>
    </logger-->
    <logger name="org.owasp.dependencycheck.analyzer.AssemblyAnalyzerTest" additivity="false" level="WARN">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.owasp.dependencycheck.data.central.CentralSearchTest" additivity="false" level="WARN">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.owasp.dependencycheck.data.central.ArtifactorySearchTest" additivity="false" level="WARN">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.owasp.dependencycheck.data.nexus.NexusSearchTest" additivity="false" level="WARN">
        <appender-ref ref="console"/>
    </logger>
    <!-- disable error log statements during test cases on FileUtils -->
    <logger name="org.owasp.dependencycheck.utils.FileUtils" additivity="false" level="OFF">
        <appender-ref ref="console"/>
    </logger>
</configuration>