[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiodns = "==2.0.0"
aiohttp = "==3.6.2"
aiokafka = "==0.5.0"
apscheduler = "==3.6.3"
asyncpg = "==0.20.1"
attrs = "==20.1.0"
boto3 = "==1.14.49"
botocore = "==1.17.49"
cchardet = "==2.1.6"
certifi = "==2019.6.16"
cffi = "==1.14.2"
chardet = "==3.0.4"
connexion = {extras = ["swagger-ui"],version = "==2.6.0"}
GitPython = "==3.1.7"
gunicorn = "==19.9.0"
idna = "==2.8"
idna_ssl = "==1.1.0"
importlib-metadata = "==1.7.0"
insights-core = "==3.0.182"
kafka-python = "==1.4.3"
lockfile = "==0.12.2"
msgpack = "==0.6.1"
peewee = "==3.10.0"
psycopg2-binary = "==2.8.3"
pyrsistent = "==0.16.0"
python-dateutil = "==2.8.0"
pytz = "==2019.2"
redis = "==3.3.6"
requests = "==2.22.0"
six = "==1.12.0"
swagger-ui-bundle = "==0.0.5"
tornado = "==6.0.3"
urllib3 = "==1.25.9"
yarl = "==1.5.1"
watchtower = "==0.6.0"
zipp = "==3.1.0"
py-flags = "==1.1.2"
CacheControl = "==0.12.5"
prometheus_client = "==0.7.1"
PyYAML = "==5.3.1"

[requires]
python_version = "3.6"
