#
# This file has comments and blank lines to make sure they are ignored
# 

certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==0.10.1
Flask-Cors==3.0.6
Flask-Spyne==0.3.1
httplib2==0.11.3
idna==2.7
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.1
MarkupSafe==1.0
pymongo==3.6.1
PySimpleSOAP==1.16.2
pytz==2018.4
PyYAML==3.12

requests==2.19.1
sec-wall==1.2
six==1.11.0
spyne==2.12.14
suds-jurko==0.6
urllib3
Werkzeug>=0.14.1
cryptography~=1.8.2